body{
  font-family: 'Pacifico', cursive;
}

.main-header{
   background-color:#8a9094;
   padding-left:15px;
   padding-right:15px;
   padding-top:10px;
   padding-bottom:10px;
 }
 .nav-link{
   color:#000000;
   margin-right:4px;
 }
 .text-center{
   text-align:center
 }
 .black-text{
   color:#000000;
 }
.main-counatiner{
  min-height: 100vh;
}
